mixin breadcrumbs(items, last)
	div.breadcrumbs
		ul.breadcrumbs__list
			each item in items
				li.breadcrumbs__item
					a(href="/" title=item)= item
			if last 
				li.breadcrumbs__item.breadcrumbs__item--last= last
mixin menu([...items])
	ul.menu__list
		each item, index in items
			li.menu__item(class={active: item.title == pageTitle})
				a.menu__link(href=item.link)= item.title
				if item.submenu 
					span.menu__arrow 
					div.submenu
						ul.submenu__list 
							each submenuItem, submenuIndex in item.submenu 
								li.submenu__item(class={active: submenuItem.title == pageTitle})
									a.submenu__link(href=submenuItem.link)= submenuItem.title
mixin svgsprite(name)
	svg(class=`svg-svg-${name}-dims`)&attributes(attributes)
		use(xlink:href=`./images/icons/icons.svg#svg-${name}`)
mixin detailFormGroup(label, inputName, dataId)
	.detail-form__group(data-group=dataId)
		.detail-form__label= label
		if inputName === "validity"
			.detail-form__dates.detail-date(data-locale="en")
				.detail-date__item.form-item
					.detail-date__text от
					input(type="text" placeholder="ДД.ММ.ГГГГ" name=`${inputName}-from` maxlength="10" rautocomplete="off").detail-form__input.form-input
				.detail-date__item.form-item
					.detail-date__text до
					input(type="text" placeholder="ДД.ММ.ГГГГ" name=`${inputName}-to` maxlength="10" autocomplete="off").detail-form__input.form-input
		else
			.form-item
				input(type="text" placeholder="Введите значение").detail-form__input.form-input
		.detail-form__actions 
			.checkbox-item
				.form-item
					input(type="checkbox", name=inputName id=inputName)
					label(for=inputName)
						span 
						| Исключить
			button(type="button").detail-form__btn-delete.icon-close-sm Удалить условие
		.detail-form__status-buttons
			.detail-form__radiobuttons
				.detail-form__radiobutton.radiobutton-item
					.form-item
						input(type="radio", name=inputName id=`${inputName}-and` value="and" checked)
						label(for=`${inputName}-and`) И
				.detail-form__radiobutton.radiobutton-item
					.form-item
						input(type="radio", name=inputName id=`${inputName}-or` value="or")
						label(for=`${inputName}-or`) Или
mixin checkbox(label, inputName, checked)
	.checkbox-item
		.form-item
			if checked
				input(type="checkbox", name=inputName id=inputName checked)
			else 
				input(type="checkbox", name=inputName id=inputName)
			label(for=inputName)
				span 
				| #{label}
mixin radio(label, inputName, inputId, checked)
	.radiobutton-item
		.form-item
			if checked
				input(type="radio", name=inputName id=inputId value=label.toLowerCase() checked)
			else 
				input(type="radio", name=inputName id=inputId value=label.toLowerCase())
			label(for=inputId)
				span 
				| #{label}
mixin reportDropdown(inputValue, inputName, [...arr])
	.report__field 
		.dropdown.dropdown-report
			.dropdown__button.icon-arrow-down
				input(type="text" name=inputName value=inputValue).dropdown-input
			.dropdown__wrapper 
				.dropdown__list
					each item in arr
						li.dropdown__list-item= item
		button(type="button").report__field-delete.icon-close-sm
mixin modal(id, className)
	.modal(id=id data-modal class=className)
		.modal__wrapper
			.modal__content(data-modal-simplebar)
				.modal__close.icon-close-sm(data-modal-close)
				.modal__body
					if block
						block