extends includes/layout.pug

append variables
	- let pageTitle = "Информаиця о товарном знаке";
	- description += pageTitle;
block content
	.trademark 
		.container 
			a(href="#").btn-back.icon-arrow-back Назад
			.trademark__body
				.trademark__header 
					.trademark__logo 
						img(src="images/trademark/logo.png", alt="логотип товарного знака")
					h1.trademark__title.page-title Название товарного знакаНазвание товарного знака
				.trademark__table
					.table
						.table__body
							each item in trademark.mainTable
								.tr 
									.td.td-caption= item.caption
									.td.td-vavlue=item.value
				.trademark__table-info
					.table 
						header.table__header 
							.tr 
								each item in trademark.reminderTable.head
									.th(class=item.class)= item.title
						.table__body
							each item in trademark.reminderTable.body
								.tr
									.td.td-term= item.term
									.td.td-text= item.text 
									.td.td-responsible= item.responsible
									.td.td-completed= item.completed
				.trademark__bottom
					button(type="button").trademark__button.btn.btn-red Распечатать
					a(href="#").trademark__link Вернуться к списку товарных знаков

