extends includes/layout.pug

append variables
	- let pageTitle = "Информация о товарном знаке";
	- description += pageTitle;
block content
	.trademark 
		.container 
			button(type="button").btn-back.icon-arrow-back Назад
			.trademark__body
				.trademark__header 
					.trademark__logo 
						img(src="images/trademark/logo.png", alt="логотип товарного знака")
					h1.trademark__title.page-title Название товарного знака Название товарного знака
				.trademark__table(data-simplebar)
					.table
						.table__body
							each item in trademark.mainTable
								.tr 
									.td.td-caption= item.caption
									.td.td-value=item.value
				.trademark-info 
					h2.trademark-info__title Информация о напоминаниях
					.trademark__table-info(data-simplebar)
						.table 
							header.table__header 
								.tr 
									each item in trademark.reminderTable.head
										.th(class=item.class)= item.title
							.table__body
								each item in trademark.reminderTable.body
									.tr
										.td.td-term= item.term
										.td.td-text= item.text 
										.td.td-responsible= item.responsible
										.td.td-completed= item.completed
				.trademark__bottom
					button(type="button").trademark__button.btn.btn-red Распечатать
					a(href="#").trademark__link Вернуться к списку товарных знаков

